<!DOCTYPE html>
<html>

<head>
	<title>Micro News</title>
	<meta charset="utf-8">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/news.js') }}"></script>

	<script>
		{% if user.name %}
			{# the user has set their name #}
		{% else %}
			{# ask user for name #}
			$(document).ready(function(){
				trigger_user_name_modal();
			});
		{% endif %}
	</script>
</head>

<body>
	{# Top section #}
	<div class="container-fluid top-bar">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h2 class="title">µ-news</h2>
				<p class="slogan">Your personalized news feed</p>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>

	{# News section #}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3"></div>

			<div class="col-md-6">
				{% for item in items %}
					<div class="news-item-wrapper">
						<div class="media">
							<div class="media-left">
								<img src="{{ item.image }}" class="media-object news-item-image">
							</div>
							<div class="media-body">
								<h4
									class="media-heading news-item-title"
									data-toggle="tooltip"
									data-placement="left"
									title="Click to read on {{item.source.name}}">
									{{ item.title }}

								</h4>
								{# hidden link #}
								<a class="news-item-link" href="{{ item.link }}" target="_blank"></a>

								<p class="news-item-subtitle">{{ item.subtitle }}</p>
								<div class="news-item-source media">
									<div class="media-left">
										<img src="{{ item.source.icon }}" class="media-object news-item-source-icon">
									</div>
									<div class="media-body">
										{% set tooltip_title = ' ' %}
										<a href="{{ item.source.link }}" target="_blank">
											{{ item.source.name }}
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			<div class="col-md-2">
				<button id="modal-trigger" type="button" data-toggle="modal" data-target="#user-name-modal">.</button>

				<div class="user-greeting" data-spy="affix" data-offset-top="205">
					{% if user.is_new %}
						Welcome, <span id="user-name">Guest</span> &#x1F44B
					{% else %}
						{% set user_name = user.name or 'Guest' %}
						Welcome back, <span id="user-name">{{ user_name }}</span> &#x1F44B
					{% endif %}
				</div>
			</div>

			<div class="col-md-1"></div>
		</div>
	</div>

	{# The modal to ask for new user's name #}
	<div id="user-name-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Welcome to µ-news!</h4>
				</div>
				<div class="modal-body">
					<form class="form-inline">
						<span id="user-name-prompt">What's your name?</span>
						<input id="user-name-form" type="text" class="form-control" value="Alex">
					</form>
				</div>
				<div class="modal-footer">
					<button id="user-name-save" type="button" class="btn btn-success" data-dismiss="modal">Save</button>
				</div>
			</div>

		</div>
	</div>

</body>

</html>
