<!DOCTYPE html>
<html>

<head>
	<title>Micro News</title>
	<meta charset="utf-8">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/news.js') }}"></script>
</head>

<body>
	{# Top section #}
	<div class="container-fluid top-bar">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h2 class="title">µ-news</h2>
				<p class="slogan">Your personalized news feed</p>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>

	{# News section #}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3"></div>

			<div class="col-md-6">
				{% for item in items %}
					<div class="news-item-wrapper">
						<div class="media">
							<div class="media-left">
								<img src="{{ item.image }}" class="media-object news-item-image">
							</div>
							<div class="media-body">
								<a href="{{ item.link }}" target="_blank">
									<h4 class="media-heading">{{ item.title }}</h4>
								</a>

								<p class="news-item-subtitle">{{ item.subtitle }}</p>
								<div class="news-item-source media">
									<div class="media-left">
										<img src="{{ item.source.icon }}" class="media-object news-item-source-icon">
									</div>
									<div class="media-body">
										<a href="{{ item.source.link }}" target="_blank">
											{{ item.source.name }}
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			<div class="col-md-2">
				<div class="user-greeting" data-spy="affix" data-offset-top="205">
					Welcome back, <span class="user-name">Alex</span> &#x1F44B
				</div>
			</div>

			<div class="col-md-1"></div>
		</div>
	</div>

</body>

</html>
