body {
	background-color: #f8f8f8;
}

#modal-trigger {
	display: none;
}

#user-name-prompt {
	margin-right: 20px;
}

.top-bar {
	margin-bottom: 20px;
	background-color: #181818;
	color: white;
}

.title {
	margin: 10px auto;
	color: red;
}

.news-item-wrapper {
	margin-bottom: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	padding: 10px;
	background-color: white;
}

/* Don't show links to articles */
a.news-item-link {
	display: none;
}

.news-item-image {
	border-radius: 2px;
	object-fit: cover;
	width: 200px;
	height: 120px;
}

.news-item-title {
	cursor: pointer;
}

.news-item-source {
	color: #181818;
}

.news-item-source a {
	color: black;
	text-decoration: none;
}


.news-item-source .publish-date {
	color: gray;
}

.news-item-source-icon {
	border-radius: 1px;
	object-fit: cover;
	max-width: 30px;
	height: 20px;
}

.user-greeting {
	border-radius: 2px;
	background-color: #181818;
	color: white;
	padding: 10px;
}

#user-name {
	color: red;
}

/* Used to vertically stick the user greeting  */
.affix {
	top: 20px;
	z-index: 9999 !important;
}
