body {
	background-color: #f8f8f8;
}

.top-bar {
	margin-bottom: 10px;
	background-color: #181818;
	color: white;
}

.title {
	margin: 10px auto;
	color: red;
}

.news-item-wrapper {
	margin-bottom: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	padding: 10px;
	background-color: white;
}

/* Remove default styles for a tag */
.news-item-wrapper a:link,
.news-item-wrapper a:visited,
.news-item-wrapper a:hover,
.news-item-wrapper a:active {
	color: black;
	text-decoration: none;
}

.news-item-image {
	border-radius: 2px;
	object-fit: cover;
	width: 200px;
	height: 120px;
}

.news-item-source {
	color: #181818;
}

.news-item-source-icon {
	object-fit: cover;
	width: 20px;
	height: 20px;
}

.user-greeting {
	border-radius: 2px;
	background-color: #181818;
	color: white;
	padding: 10px;
}

.user-greeting .user-name {
	color: red;
}

/* Used to vertically stick the user greeting  */
.affix {
	top: 20px;
	z-index: 9999 !important;
}
